@page "/edit-virtual-league-result/{RecordID}"
@layout MainLayout
@inherits VirtualLeague.Pages.EditVirtualLeagueResultComponent

@using Radzen
@using Radzen.Blazor
@using VirtualLeague.Models.ConData
<PageTitle>Edit Virtual League Result</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." Visible="@hasChanges">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="Reload" Visible="@hasChanges" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="VirtualLeague.Models.ConData.VirtualLeagueResult" Data="@virtualleagueresult" Visible="@(virtualleagueresult != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="League Season" Component="SeasonID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getLeagueSeasonsResult" TextProperty="SeasonName" ValueProperty="SeasonID" Placeholder="Choose LeagueSeason" style="display: block; width: 100%" @bind-Value="@(virtualleagueresult.SeasonID)" Name="SeasonID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="SeasonID" Text="SeasonID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Match Day" Component="MatchDayID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getMatchDaysResult" TextProperty="MatchDayName" ValueProperty="MatchDayID" Placeholder="Choose MatchDay" style="display: block; width: 100%" @bind-Value="@(virtualleagueresult.MatchDayID)" Name="MatchDayID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="MatchDayID" Text="MatchDayID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Team" Component="HomeTeamID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTeamsResult" TextProperty="TeamName" ValueProperty="TeamID" Placeholder="Choose Team" style="display: block; width: 100%" @bind-Value="@(virtualleagueresult.HomeTeamID)" Name="HomeTeamID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="HomeTeamID" Text="HomeTeamID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Home Score" Component="HomeScore" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(virtualleagueresult.HomeScore)" Name="HomeScore">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="HomeScore" Text="HomeScore is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Team" Component="AwayTeamID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTeamsResult" TextProperty="TeamName" ValueProperty="TeamID" Placeholder="Choose Team" style="display: block; width: 100%" @bind-Value="@(virtualleagueresult.AwayTeamID)" Name="AwayTeamID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="AwayTeamID" Text="AwayTeamID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Away Score" Component="AwayScore" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(virtualleagueresult.AwayScore)" Name="AwayScore">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="AwayScore" Text="AwayScore is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button4Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
