@page "/match-days"
@layout MainLayout
@inherits VirtualLeague.Pages.MatchDaysComponent

@using Radzen
@using Radzen.Blazor
@using VirtualLeague.Models.ConData
<PageTitle>Match Days</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Match Days">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getMatchDaysResult" Count="@getMatchDaysCount" TItem="VirtualLeague.Models.ConData.MatchDay" LoadData="@Grid0LoadData" RowDoubleClick="@Grid0RowDoubleClick">
          <Columns>
            <RadzenDataGridColumn TItem="VirtualLeague.Models.ConData.MatchDay" Property="MatchDayID" Title="Match Day ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="VirtualLeague.Models.ConData.MatchDay" Property="MatchDayName" Title="Match Day Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="VirtualLeague.Models.ConData.MatchDay" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="virtualLeagueModelsConDataMatchDay">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, virtualLeagueModelsConDataMatchDay))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
